{% extends "base.html" %}
{% block title %}Edit {{ obj.word }}{% endblock %}
{% block breadcrumb %}Glossary / Edit / {{ obj.word }}{% endblock %}

{% block content %}
  <div class="card glossary-edit">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="grid">
        <div>
          <label for="{{ form.word.id_for_label }}">Entry</label>
          {{ form.word }}
          <!-- <div id="word-help" class="muted">Cambiare la parola equivale a cambiare la chiave primaria.</div> -->
          {% if form.word.errors %}<div class="errorlist">{{ form.word.errors }}</div>{% endif %}
        </div>

        <div>
          <label for="{{ form.description.id_for_label }}">Definition</label>
          {{ form.description }}
          {% if form.description.errors %}<div class="errorlist">{{ form.description.errors }}</div>{% endif %}
        </div>
      </div>

      <div class="toolbar">
        <a class="btn" href="{% url 'glossary_list' %}">Cancel</a>
        <button class="btn btn--primary">Save</button>
      </div>
    </form>
  </div>
{% endblock %}
