{% extends "base.html" %}
{% block title %}Imposta nuova password{% endblock %}
{% block content %}
  <div class="container" role="main">
    <h1>Imposta nuova password</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div>
        <label for="{{ form.new_password1.id_for_label }}">New password</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
      </div>
      <div>
        <label for="{{ form.new_password2.id_for_label }}">Confirm password</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
      </div>
      <button class="btn" type="submit">Salva</button>
    </form>
  </div>
{% endblock %}
